<div class="princii">
  <div class="productos--grid">
    <app-producto [productos]="producto" *ngFor="let producto of productos" (addedProduct)="onAddToShopping($event)">
    </app-producto>
  </div>
  <div class="precio">
    <div class="total"><h1># Number of orders: {{shoppingCart.length}}</h1>
      <h1>Total to pay: ${{totalShopping}}</h1>
    </div>
    <div *ngFor="let listShop of shoppingCart">
      <button class="buttonPed" (click)="eliminarToCart()">
      <img class="productosGrid" width="50px" [src]="listShop.image">
      <h4>{{listShop.name}};</h4>
      <h4>{{listShop.price}}</h4>
      <h4>X ({{listShop.amount}})</h4>
      </button>
    </div>
    <div *ngIf="shoppingCart.length === 0"><button disabled class="checkout">Checkout→</button>
     </div>
    <div *ngIf="shoppingCart.length >= 1"><button   (click)="checkP()"  class="checkout">Checkout→</button></div>

  </div>
</div>
