.princii{
  display: flex;
  flex-direction: row;
  width: 130%;
}
.productos--grid{
  display: flex;
  flex-direction: column;
  width: 76%;
  margin-right: 0%;
  padding-right: 5%;

}
.precio{
  display: block;
  width: 24%;
  text-align: center;
  font-size: 1.5vw;
  background-color:whitesmoke;
  margin-left: 0;
  margin-right: 0%;
  padding-top: -40%;
  margin-top: -10%;
  border: solid;
  border-top-color: transparent;
  border-right-color:transparent ;
  border-left-color: #d1d5db;
  .checkout{
    border-radius:  25% 0 25%  0;
    background-color: gold;
    width: 60%;
    height: 70px;
    float: right;
    border: none;
  }
  .checkout:disabled{
    background-color: transparent;
    border: none;
  }
.buttonPed{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  cursor: pointer;
  background-color: greenyellow;
  border: solid;
  border-color: whitesmoke;
  width: 200px;
  height: 90px;
  border-radius: 15px;
  font-size: 0.9vw;
  margin-left: 70px;
 .img{
  width: 80%;
 }}
.buttonPed:hover{
  cursor: pointer;
  background-color: red;
  border: none;
}
.buttonPed:focus{
  cursor: pointer;
  background-color: red;
  border: none;
}
}
@media screen and (min-width: 10em) and (max-width: 63.9em){
  .princii{
    display: flex;
    flex-direction: column;
    width: 100%;

    .precio{
      margin-top: 5%;
      display: grid;
      flex-direction: column;
      width: 100%;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 10px;
      border-top-color: #d1d5db;
      border: solid;
      .h4{
        font-size: 5vw;
      }

      .buttonPed{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        cursor: pointer;
        background-color: greenyellow;
        border: solid;
        border-color: whitesmoke;
        width: 200px;
        height: 100px;
        border-radius: 15px;
        font-size: 3vw;
        margin-top: 2%;
        margin-left: 70px;

       .img{
        width: 100%;
       }}
       .productosGrid{
        width: 50%;
       }
       .total{
        font-size: medium;
       }

    }
    .productos--grid{
      display: grid;
      margin-top: 4%;
      width: 100%;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 10px;
    }
  }


}
@media screen and (min-width: 64em){
  .productos--grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
  }
}
