.contenedorP {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.contenedorIzq {
  width: 72%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.contenedorDer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 28%;
  height: 30%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 6%;
  max-height: 300px;
  background-color: whitesmoke;
  border: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: #d1d5db;
  border-bottom-color: transparent;
  text-align: start;
  align-content: center;

  .datosP {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70px;
    background-color: #660fcae0;
    color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: right;
    padding-left: 10%;
    align-items: center;
    align-content: center;
    margin-top: -10px;
    padding-top: 15px;

    .relojA {
      max-width: 20px;
    }

    .timer {
      display: flex;
      flex-direction: row;
    }
  }

}

.container2 {
  border-radius: 15px;
  height: 180px;
  margin: 60px 10px 10px 45px;
  background-color: antiquewhite;
  width: 90%;
  display: flex;
  flex-direction: row;

}

.head {
  align-items: center;
  color: coral;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.titulo {
  font-size: 5vh;
  text-align: left;
  margin-left: 0em;

}

.sub-titulo {
  font-size: 3vh;
  color: black;
  text-align: left;
}

.titulo-p {
  margin-top: 5%;
  text-align: left;
  margin-left: 6%;
  margin-bottom: 3%;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 244px;
  height: 210px;
  margin-top: -30px;
  margin-left: 60px;
}


.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  overflow: auto;
  background: red;
  font-size: 30px;
  background-color: aqua;

}

ul {
  width: auto;
  height: 130px;
  background-color: floralwhite;
  border-radius: 70% 70% 80% 80%;
  list-style: none;
  text-decoration: none;
  padding-top: 20px;

}

.dropdown {
  display: inline-block;
  position: relative;
  margin-top: 1em;
  padding-left: 3.5em;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.categorias--grid {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin-left: 2%;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {

  .categorias--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 0;
    text-align: start;
    align-content: flex-start;
  }
}

@media screen and (min-width: 64em) {
  .categorias--grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  text-align: left;
  margin-left: 6%;
  margin-bottom: 3%;
}

.menu h1 {
  font-size: 1.8vw;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.delivery {
  background: #f35d06;
  border-radius: 2em;
  width: 250px;
  height: 70px;
  border: none;
  color: white;

}

.buttonC {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 50%;
  border: 0;
  height: 5vw;
  width: 90%;
}

.buttonC .imgCat {
  width: 40px;
}

.buttonC:focus {
  background-color: #f35d06;
}

.buttonC:hover {
  background-color: orangered;
}

.hide-menu {
  display: flex;
}

.side-menu {
  display: none;
}

.imgCat {
  width: 80px;
}

.restaurants h1 {
  font-size: 1.8vw;
}

@media screen and (min-width: 10em) and (max-width: 63.9em) {
  .side-menu {
    display: block;
    align-content: center;
    align-items: center;

    .contenedorIzq {
      width: 100%;
      display: block;
      flex-direction: column;
      margin: 0;

      .container2 {
        margin-left: 10%;
        width: 80%;
        align-content: center;

        .logo {
          margin-left: 0;
          display: flex;
          max-width: 244px;
          min-width: 40px;
        }

        .logDeli {
          display: flex;
          max-width: 3vw;
          min-width: 1vw;
        }
      }

      .categorias--grid {
        width: 50%;
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
      }

      .buttonC {
        width: 70%;

        .imgCat {
          width: 10vw;
        }
      }

      .pList {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        display: flex;
      }

    }

    .contenedorDer {
      display: none;
    }
  }

  .hide-menu {
    display: none;
  }

  h1 {
    font-size: 2.5vw;
  }

  h2 {
    font-size: 2.2vw;

  }

  h3,
  h4 {
    font-size: 2vw;
  }

  h6 {
    font-size: 0.7vw;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .side-menu {
    display: none;
  }

  .hide-menu {
    display: block;

    .contenedorIzq {
      width: 100%;
      display: block;
      flex-direction: column;
      margin: 0;
    }

    .contenedorDer {
      display: block;
    }
  }

  h1 {
    font-size: 2vw;
  }

  h2 {
    font-size: 2.2vw;

  }

  h3,
  h4 {
    font-size: 1vw;
  }

  h6 {
    font-size: 0.7vw;
  }
}
